{% extends 'proyecto/plantilla.html' %}
{% load static %}

{% block contenido %}

  <div class="titulo row center-xs">
    <div class="col-xs-10">
      <h1>SUBSCRIBETE AL CANAL DE NOTICIAS</h1>
      <h4>enterate como las drogas pueden alterar tu día a día</h4>
    </div>
  </div>

  <!--Formulario-->

  <div class="container center-xs">
    <div class="row center-xs">
      <form action="#" method="GET" id="formularioboletin" class="col-xs-12 col-sm-8 col-md-6 center-xs">
        <div class="row center-xs ">
          <div class="form-group col-xs-10 col-sm-5">
            <label for="nombrent">Nombre</label>
            <input type="text" class="form-control" name="nombrent" placeholder="Ingrese su Nombre">
          </div>
          <div class="form-group col-xs-10 col-sm-5">
            <label for="correont">Correo</label>
            <input type="email" class="form-control" name="correont" placeholder="Ingrese su Correo">
          </div>
          <button type="submit" class="btn btn-primary col-xs-4 col-sm-2" id="btn_enviarbl">Enviar</button>
        </div>
      </form>
    </div>
  </div>

  <!--cartas de información-->
  <div class="row center-xs">
    <div class="col-xs-10 col-sm-6 col-md-5 col-lg-3 card-col">
      <div class="card">
        <img class="card-img-top custom-card-img" src="{% static 'proyecto/img/drogas en general.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Drogas en general</h5>
          <p class="card-text">Las drogas han sido parte de nuestra cultura desde mediados del siglo pasado. La música y
            los medios de difusión las popularizaron en la década de los 60, invadiendo todos los aspectos de la
            sociedad.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-10 col-sm-6 col-md-5 col-lg-3 card-col">
      <div class="card">
        <img class="card-img-top custom-card-img" src="{% static 'proyecto/img/marihuana.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Marihuana</h5>
          <p class="card-text">La marihuana es una de las drogas más usadas en el mundo. Existe una brecha cada vez
            mayor entre los últimos descubrimientos científicos sobre la marihuana y los mitos que la rodean.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-10 col-sm-6 col-md-5 col-lg-3 card-col">
      <div class="card">
        <img class="card-img-top custom-card-img" src="{% static 'proyecto/img/lsd.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">LSD</h5>
          <p class="card-text">
            El LSD es una de las sustancias químicas más potentes para cambiar el estado de ánimo. Se manufactura a
            partir del ácido lisérgico, que se encuentra en el cornezuelo, un hongo que crece en el centeno y otros
            granos.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-10 col-sm-6 col-md-5 col-lg-3 card-col">
      <div class="card">
        <img class="card-img-top custom-card-img" src="{% static 'proyecto/img/alucinogenos.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Alucinogenos</h5>
          <p class="card-text">Se llama alucinógenos a cierto tipo de drogas que, en dosis no tóxicas, causan
            alteraciones profundas en la percepción de la realidad del consumidor.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-10 col-sm-6 col-md-5 col-lg-3 card-col">
      <div class="card">
        <img class="card-img-top custom-card-img" src="{% static 'proyecto/img/cocaina.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Cocaina</h5>
          <p class="card-text">
            La palabra cocaína se refiere a la droga en forma de polvo o cristal.1 El polvo se mezcla usualmente con
            sustancias como el almidón de maíz, talco y/o azúcar u otras drogas como la procaína (un anestésico local) o
            anfetaminas.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-10 col-sm-6 col-md-5 col-lg-3 card-col">
      <div class="card">
        <img class="card-img-top custom-card-img" src="{% static 'proyecto/img/videojuegos.png' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Videojuegos</h5>
          <p class="card-text">La adicción a los videojuegos consiste en el uso excesivo o compulsivo de videojuegos
            hasta el punto de interferir con la vida personal y las actividades diarias del sujeto que los utiliza.</p>
        </div>
      </div>
    </div>
  </div>


  {% endblock contenido %}