{% extends 'proyecto/plantilla.html' %}
{% load static %}

{% block contenido %}
<div class="container margin_top">
    <form action="#" method="POST" id="formulario" class="post-form">
        {% csrf_token %}
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        {{ form.nombre }}
      </div>
      <div class="form-group">
          <label for="correo">Correo:</label>
          {{ form.correo }}
      </div>
      <div class="form-group">
            <label for="fono">Telefono Contacto:</label>
            {{ form.telefono }}
      </div>
      <div class="form-group">
        <label for="asun">Asunto:</label>
        {{ form.asunto }}
      </div>
      <div class="form-group">
        <label for="msj">Mensaje:</label>
        {{ form.mensaje }}
      </div>
      <button type="submit" class="save btn btn-primary" >Enviar</button>
    </form>
  </div>
</div>

{% endblock contenido %}