{% extends 'proyecto/plantilla.html' %}
{% load static %}

{% block contenido %}

<div class="row center-xs margin_top">

    <div class="col-xs-12 col-sm-8">
        <h1 class="col-xs-12">Tablero de puntuaciones de: {{ request.user.username }}</h1>
        {% for jugada in registros %}
        {% if jugada.usuario == request.user.username %}
        <div class="row center-xs middle-xs">
            <div class="col-xs-3 {% cycle 'odd' 'even' %} altura">
                {{ jugada.Juego.nombre }}
            </div>
            <div class="col-xs-3 {% cycle 'odd' 'even' %} altura">
                {{ jugada.tiempo }}
            </div>
            <img class="col-xs-3 {% cycle 'odd' 'even' %} altura" src="{{ jugada.Juego.img }}" alt="">
        </div>
        {% endif %}
        {% endfor %}

    </div>

</div>

{% endblock contenido %}