{% extends 'proyecto/plantilla.html' %}
{% load static %}

{%  block contenido %}

<div class="row center-xs">
    <div class="bd-example col-xs-12 col-sm-10">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img id="imagenuno" src="{% static 'proyecto/img/apoyofamiliar.jpg' %}" class="d-block w-100 car-img moverimagen cursed"
              alt="Apoyo Familiar">
            <div class="carousel-caption d-none d-md-block bg-shadow" id="textocarousel1">
              <h5>Que tu unica adiccion sea vivir</h5>
              <p>Hay mucha gente que se preocupa por ti, si no lo vas a hacer por ti, hazlo por ellos</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'proyecto/img/hh.jpg' %}" class="d-block w-100 car-img cursed" alt="Ayuda">
            <div class="carousel-caption d-none d-md-block bg-shadow" id="textocarousel2">
              <h5>Busca ayuda!</h5>
              <p>No dejes que la adiccion a la droga te gane, busca apoyo en conocidos y profesionales.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img id="imagentres" src="{% static 'proyecto/img/antesdespues.jpg' %}" class="d-block w-100 car-img cursed" alt="Antes y despues">
            <div class="carousel-caption d-none d-md-block bg-shadow" id="textocarousel3">
              <h5>No dejes que esto te pase a ti</h5>
              <p>El camino a la ruina en promedio dura 8 meses</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <!--Loque necesitas saber-->
  <div class="row center-xs">
    <div class="row col-xs-12 col-sm-9 col-md-7 center-xs padd">
      <h1>LO QUE NECESITAS SABER</h1>
      <p>En el mundo se dicen muchas cosas acerca de las drogas: en las calles, en la escuela, en Internet y en la TV.
        Algunas son ciertas y otras no lo son.</p>
      <p>Mucho de lo que escuchas acerca de las drogas en realidad proviene de aquellos que las venden. Traficantes de
        drogas reformados han confesado que hubieran dicho cualquier cosa con tal de hacer que otros les compraran
        drogas.</p>
      <p>No te dejes engañar. Necesitas hechos para evitar engancharte a las drogas y ayudar a que tus amigos se
        mantengan lejos de ellas.</p>
    </div>
  </div>

</div>
<!--Contenido-->
<div class="row center-md">
  <div class="col-xs-12 col-md-5 bg_col center-xs end-md margen padd">
    <h1>¿Por que la gente consume drogas?</h1>
    <h4>Cada persona llega a consumir droga por motivos diferentes. Por curiosidad, por que un amigo lo hace para
      escapar de los problemas, para cambiar el estado de animo
      o por que simplemente es "andar a la moda". Las drogas llegan a formar parte de la vida de las personas debido a
      problemas emocionales, psicologicos o Sociales.
      Algunas sustancias crean adiccion o dependencia y aqui es donde comienza el peligro, la gente no puede dejar de
      vivir sin ella.
    </h4>
    <img src="{% static 'proyecto/img/dependencia.jpg' %}" alt="dependencia" class="con-img col-xs-12 center-xs cursed">
  </div>
  <div class="col-xs-12 col-md-5 bg_col center-xs start-md margen padd">
    <br>
    <img src="{% static 'proyecto/img/consecuencias.jpg' %}" alt="consecuencias" class="con-img col-xs-12 center-xs cursed">
    <h1>¿Que consecuencias trae el consumo prolongado de drogas?</h1>
    <h4>El consumo de drogas trae consigo muchas consecuencias negativas, a continuacion vamos a listar las mas
      importantes
      <ul>
        <br>
        <li>Un sistema inmune muy debilitado, incrementando el riesgo de enfermedades e infecciones.</li>
        <li>Condicion cardiaca que va desde ritmo cardiaco muy alto a ataques al corazon, venas colapsadas e
          infecciones en los vasos sanguineos por drogas inyectables.</li>
        <li>Nausea y dolor abdominal, que lleva a cambios en el apetito y perdida de peso.</li>
        <li>Problemas familiares, relacionales y sociales.</li>
        <li>Adiccion.</li>
      </ul>
    </h4>
  </div>
</div>

<!-- galeria de imagenes-->
<div class="row center-xs">
  <div class="col-xs-12" id="mygallery">
    <div class="zoom"></div>
    <a data-fancybox="gallery" href="{% static 'proyecto/img/antesdespues.jpg' %}">
      <img alt="Title 1" src="{% static 'proyecto/img/antesdespues.jpg' %}" class="cursed"/>
    </a>
    <a data-fancybox="gallery" href="{% static 'proyecto/img/apoyofamiliar.jpg' %}">
      <img alt="Title 2" src="{% static 'proyecto/img/apoyofamiliar.jpg' %}" class="cursed"/>
    </a>
    <a data-fancybox="gallery" href="{% static 'proyecto/img/car_01.jpg' %}">
      <img alt="Title 2" src="{% static 'proyecto/img/car_01.jpg' %}" class="cursed"/>
    </a>
    <a data-fancybox="gallery" href="{% static 'proyecto/img/car_02.jpg' %}">
      <img alt="Title 2" src="{% static 'proyecto/img/car_02.jpg' %}" class="cursed"/>
    </a>
    <a data-fancybox="gallery" href="{% static 'proyecto/img/car_03.jpg' %}">
      <img alt="Title 2" src="{% static 'proyecto/img/car_03.jpg' %}" class="cursed"/>
    </a>
    <a data-fancybox="gallery" href="{% static 'proyecto/img/consecuencias.jpg' %}">
      <img alt="Title 2" src="{% static 'proyecto/img/consecuencias.jpg' %}" class="cursed"/>
    </a>
    <a data-fancybox="gallery" href="{% static 'proyecto/img/drugfree.jpg' %}">
      <img alt="Title 2" src="{% static 'proyecto/img/drugfree.jpg' %}" class="cursed"/>
    </a>
    <a data-fancybox="gallery" href="{% static 'proyecto/img/helpinghands.jpg' %}">
      <img alt="Title 2" src="{% static 'proyecto/img/helpinghands.jpg' %}" class="cursed"/>
    </a>
    <a data-fancybox="gallery" href="{% static 'proyecto/img/hh.jpg' %}">
      <img alt="Title 2" src="{% static 'proyecto/img/hh.jpg' %}" class="cursed"/>
    </a>
  </div>
</div>

<p>
  Bienvenido <b>{{request.user.username}}</b>, 
  esta página es exclusiva para usuarios registrados.
</p>
{%  endblock contenido %}