{% extends 'proyecto/plantilla.html' %}
{% load static %}

{% block contenido %}

<h1 class="text-center margin_top">Gracias por escribirnos! Su mensaje sera respondido a la brevedad.</h1>

<p class="text-center"><a href="{% url 'index' %}">Volver al inicio.</a></p>

{% endblock contenido %}