{% extends 'proyecto/plantilla.html' %}
{% load static %}

{%  block contenido %}
{% csrf_token %}
<h1 id="resp" hidden>
    {{ juego.respuesta }}
</h1>
<h1 id="idJuego" hidden>
    {{ juego.id_juego }}
</h1>
<h1 id="bueno" hidden>
    {{ juego.bueno }}
</h1>
<h1 id="medio" hidden>
    {{ juego.medio }}
</h1>
<h1 id="malo" hidden>
    {{ juego.malo }}
</h1>
<h1 id="username" hidden>
    {{request.user.username}}
</h1>
<h1 id="apodo" hidden>
    
</h1>
<div>
    <div class="row center-xs margen_all">
        <div class="col-xs-12 col-lg-8" style="background: gray">
            <div class="se-pre-con2">
                <h1>Estás a punto de comenzar!</h1>
                <h4>Da click a iniciar y comenzará el juego, recuerda que es con tiempo :)</h4>
                <!--BOTON QUE INICIA EL CRONOMETRO-->
                <input class="btn btn-primary" id="btn_crono" type="button" value="Empezar"
                    onclick="empezarDetener(this);">
            </div>
            <!--TITULO-->
            <div class="row center-xs">
                <div class="col-xs-12 padd">
                    <h1>
                        {{ juego.nombre }}
                    </h1>
                    <h4>
                        {{ juego.pregunta}}
                    </h4>
                </div>
                <div class="crono_wrapper">
                    <h2 id='crono'>00:00:00</h2>
                </div>
            </div>
            <!--IMAGEN-->
            <div class="row center-xs margen_all">
                <img class="col-xs-12" src="{{ juego.img }}" alt="">
            </div>
            <!--RESPUESTA-->

            <div class="row center-xs">
                <div class="col-xs-5 col-sm-3">
                    <p>Respuesta:</p>
                </div>
                <div class="col-xs-5 col-sm-3">
                    <input type="text" name="input_respuesta" id="respuesta">
                </div>
                <div class="col-xs-12 col-sm-3">
                    <button class="btn btn-primary" id="RegistrarJugada" onclick="RegJug()">responder</button>
                </div>
            </div>

            <div>
                <h1 id="ejemplo">

                </h1>
            </div>
        </div>
    </div>


    <!--este deberia ser un formulario, ayuda plox-->

    <div class="row margen_all center-xs" id="marcador" hidden>
        <div class="col-xs-12 col-lg-8" style="background: gray">
            <h2>Guarda tu resultado</h2>
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Guardar</button>
            </form>
        </div>
    </div>
    <!--la wa de arriba deberia ser un formulario, ayuda vitooooo-->


    <div class="row margen_all center-xs" id="marcas" hidden>
        <div class="col-xs-12 col-lg-8 center-xs margen_all2 puntaje1" >
            <h3 class="col-xs-12 margen_all center-xs" id="buenpuntaje">
                 Buen tiempo {{ juego.bueno }} o menos
            </h3>
        </div>
        <div class="col-xs-12 col-lg-8 center-xs margen_all2 puntaje2" >
            <h3 class="col-xs-12 margen_all center-xs">
                "Lucido" Tiempo promedio {{ juego.medio }} o menos
            </h3>
        </div>
        <div class="col-xs-12 col-lg-8 center-xs margen_all2 puntaje3" >
            <h3 class="col-xs-12 margen_all center-xs">
                "Consumidor social" Mal tiempo {{ juego.malo }} o menos
            </h3> 
        </div>
        <div class="col-xs-12 col-lg-8 center-xs margen_all2 puntaje4" >
            <h3 class="col-xs-12 margen_all center-xs">
                "Ignacio Gomez" Deja la droga {{ juego.malo }} o más
            </h3>
        </div>
    </div>
</div>
{%  endblock contenido %}