{% extends 'proyecto/plantilla.html' %}
{% load static %}

{%  block contenido %}
<div class="container">
  <div id="map" class="row center-xs map">
    <br />
    <small>
    </small>
  </div>
  <br>
  <div class="row center-xs">
    <ul>
      <li>Nos ubicamos en: San Martin 980, El tabo.</li>
      <li>Ponte en contacto al: +569 567 901 80.</li>
    </ul>
  </div>
</div>

{%  endblock contenido %}