<!doctype html>
<html lang="es-cl">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
  <link rel="manifest" href="manifest.json">
  <link rel="stylesheet" href="{% static 'proyecto/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'proyecto/css/flexboxgrid.css' %}">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'proyecto/css/justifiedGallery.css' %}" />
  <link rel="stylesheet" href="{% static 'proyecto/css/jquery.fancybox.min.css' %}">
  <link rel="stylesheet" href="{% static 'proyecto/css/style.css' %}">
  <title>Proyecto Anti-Drogas Duoc UC hola</title>
</head>
<div class="se-pre-con"></div>

<body class="bg_base fg_white fuente">
  <div class="bg_accent">
    <div class="row margen middle-xs">
      <div class="col-xs-12 col-sm-6 center-xs start-sm margin_top"><a href="/" id="logo-text"><img id="logo"
            src="{% static 'proyecto/img/logo.png' %}" alt=""> Stay clean, stay cool</a></div>
    </div>
  </div>
    <!--Loque necesitas saber-->
  <!--Contenido-->
  <div class="margin-login margin_top text-center">
    <p>Especifique su email para enviarle las instrucciones para la recuperación de contraseña.</p>
 
    <form action="#" method="POST" id="formularioreset">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
         {{ form.email.errors }}
        <p><label for="id_email">Dirección de correo electrónico:</label> {{ form.email }} </p>
        <br>
        <p><input class ="btn btn-default" type="submit" value="Recuperar contraseña" /></p>
    </form>
  </div>
  
  <!-- galeria de imagenes-->

  <footer>
    <div class="redes-text">Nuestras Redes Sociales:</div>
    <div class="footer-social-icons">
      <ul>
        <li><a href="https://www.facebook.com" target="black"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.twitter.com" target="blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com" target="blank"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.youtube.com" target="blank"><i class="fa fa-youtube"></i></a></li>
      </ul>
    </div>
    <div class="footer-menu-uno">
      <ul>
        <li><a href="#">Quienes Somos?</a></li>
        <li><a href="ubicacion">Ubicacion</a></li>
        <li><a href="#">Contactanos</a></li>
        <li><a href="#">Galeria</a></li>
      </ul>
    </div>
    <div class="footer-menu-dos">
      <ul>
        <li><a href="#">Foro</a></li>
        <li><a href="#">Noticias</a></li>
      </ul>
    </div>
    <div class=footer-backtothetop>
      <ul>
        <li><a href="#top">Volver al principio</a></li>
      </ul>
    </div>
  </footer>
  <!--JS FILES-->
  <script src="{% static 'proyecto/js/jquery-3.4.1.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="{% static 'proyecto/js/bootstrap.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <script src="{% static 'proyecto/js/jquery.validate.js' %}"></script>
  <script src="{% static 'proyecto/js/jquery.justifiedGallery.js' %}"></script>
  <script src="{% static 'proyecto/js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'proyecto/js/jKonamiCode.js' %}"></script>
  <script src="{% static 'proyecto/js/app.js' %}"></script>
</body>

</html>